/* geral */

* {
margin: 0;
padding: 0%;
box-sizing: border-box;
font-family: Helvetica, sans-serif;
color: #323232;
border: none;
}

input, label{
    display: block;
    width:  100%;
}

input:focus, label:focus{
    outline: none;
}

a{
    color: #e60084;
}

body{
    padding-top: 5vh;
    background-image: url('../img/poker.jpg');
    background-size: cover;
    background-position-y: -130px;
}

/* form */

#main-container{
    width: 28%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

#main-container h1{
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.full-box{
    flex: 1 1 100%;
    position: relative;
}

.half-box{
    flex:  1 1 45%;
    position: relative;
}